@import "../../styles/mixins";
@import "../../styles/variables";

.backLink {
  display: flex;
  align-items: center;
  width: max-content;
  font-weight: 700;
  font-size: 18px;
  text-transform: uppercase;
  opacity: .7;
  transition: all .2s ease;

  svg {
    font-size: 34px;
    transition: all .2s ease;
  }

  &:hover {
   opacity: 1;
  }
}

.label {
  margin-left: 20px;
  transition: all .2s ease;
}