@import '../../styles/mixins';
@import '../../styles/variables';

.wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 8px 4px 6px;
  color: $white;
  background-color: $text-gray;
  border-radius: 6px;

  @include syncopate-font(16px);
}

.scoreUP {
  background-color: $score-up;
}

.scoreDOWN {
  background-color: $score-down;
}

// sm-breakpoint: 576px;
// md-breakpoint: 768px;
// lg-max: 960px;
// lg-breakpoint: 992px;
// xl-breakpoint: 1200px;
// xxl-breakpoint: 1360px;
@media (max-width: $lg-max) {
  .wrapper {
    padding: 6px 2px 4px;
    font-size: 12px;
  }
}