@import "../../styles/mixins";
@import "../../styles/variables";

.value {
  margin-bottom: 5px;
  font-weight: 600;
  font-size: 20px;
  line-height: 23px;
  text-transform: uppercase;
  @include text-ellipsis;
}

.description {
  margin-bottom: 34px;
  font-weight: 400;
  font-size: 16px;  
  line-height: 19px;
}

.btn {
  padding: 0;
  color: $text-gray;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  cursor: pointer;

  &:first-child {
    margin-right: 30px;
  }
}

.formRow {
  display: flex;
  flex-direction: column;
  margin-bottom: 30px;
}


@media (max-width: $md-breakpoint) {
  .value {
    font-size: 16px;
    line-height: 19px;
  }
  
  .description {
    font-size: 14px;
    line-height: 16px;
  }
}