@import "../../styles/mixins";
@import "../../styles/variables";

.button {
  color: $white;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 280px;
  flex-shrink: 0;
  background-size: contain;
  position: relative;
  padding-left: 12px;
  padding-right: 12px;
  @include text-ellipsis;
  @include button-hover-animation;

  &[disabled] {
    cursor: not-allowed;
    opacity: .4;
    &:hover {
      &:before {
        animation: none;
      }
    }
  }
}

.label {  
  @include text-ellipsis;
}

.largeRed {
  background-image: url(../../../public/buttons/btn_lg_fill_red.svg);
  width: 280px;
  height: 48px;
  @include syncopate-font(16px);
}

.largeGray {
  background-image: url(../../../public/buttons/btn_lg_gray.svg);
  width: 280px;
  height: 48px;
  @include syncopate-font(16px);
}

.largeBorderRed {
  background-image: url(../../../public/buttons/btn_lg_transparent_red.svg);
  width: 280px;
  height: 48px;
  @include syncopate-font(16px);
}

.shortRed {
  background-image: url(../../../public/buttons/btn_short_fill_red.svg);
  width: 178px;
  height: 48px;
  @include syncopate-font(16px);
}

.smallBorderRed{
  background-image: url(../../../public/buttons/btn_sm_transparent_red.svg);
  width: 208px;
  height: 40px;
  @include syncopate-font(12px);
}

.smallBorderWhite{
  background-image: url(../../../public/buttons/btn_sm_transparent_white.svg);
  width: 208px;
  height: 40px;
  @include syncopate-font(12px);
}


@keyframes opacityIn {
  0% {
    left: 0;
    width: 0;
    opacity: 0;
  }

  15% {
    opacity: 0.2;
    width: 10px;
  }

  30% {
    opacity: .5;
    width: 20px;
  }

  70% {
    opacity: 0.1;
    width: 5px;
  }

  100% {
    left: 100%;
    opacity: 0;
    width: 0;
  }
}

@media (max-width: $md-breakpoint) {
  .largeRed, .largeBorderRed, .largeGray, .shortRed {
    font-size: 12px;
    line-height: 12px;
  }
}