@import "../../styles/mixins";
@import "../../styles/variables";

.button {
  position: relative;
  display: flex;
  flex-shrink: 0;
  align-items: center;
  justify-content: center;
  width: 280px;
  padding-right: 12px;
  padding-left: 12px;
  color: $white;
  background-size: contain;
  @include text-ellipsis;
  @include button-hover-animation;

  &[disabled] {
    cursor: not-allowed;
    opacity: .4;

    &:hover {
      &::before {
        animation: none;
      }
    }
  }
}

.label {  
  @include text-ellipsis;
}

.largeRed {
  width: 280px;
  height: 48px;
  background-image: url('../../../public/buttons/btn_lg_fill_red.svg');
  @include syncopate-font(16px);
}

.largeGray {
  width: 280px;
  height: 48px;
  background-image: url('../../../public/buttons/btn_lg_gray.svg');
  @include syncopate-font(16px);
}

.largeBorderRed {
  width: 280px;
  height: 48px;
  background-image: url('../../../public/buttons/btn_lg_transparent_red.svg');
  @include syncopate-font(16px);
}

.shortRed {
  width: 178px;
  height: 48px;
  background-image: url('../../../public/buttons/btn_short_fill_red.svg');
  @include syncopate-font(16px);
}

.smallBorderRed{
  width: 208px;
  height: 40px;
  background-image: url('../../../public/buttons/btn_sm_transparent_red.svg');
  @include syncopate-font(12px);
}

.smallBorderWhite{
  width: 208px;
  height: 40px;
  background-image: url('../../../public/buttons/btn_sm_transparent_white.svg');
  @include syncopate-font(12px);
}


@keyframes opacity-in {
  0% {
    left: 0;
    width: 0;
    opacity: 0;
  }

  15% {
    width: 10px;
    opacity: 0.2;
  }

  30% {
    width: 20px;
    opacity: .5;
  }

  70% {
    width: 5px;
    opacity: 0.1;
  }

  100% {
    left: 100%;
    width: 0;
    opacity: 0;
  }
}

@media (max-width: $md-breakpoint) {
  .largeRed, .largeBorderRed, .largeGray, .shortRed {
    font-size: 12px;
    line-height: 12px;
  }
}