@import "../../styles/mixins";
@import "../../styles/variables";

.wrapper {
  display: flex;
  align-items: center;
  width: 100%;
  height: 36px;
  padding: 3px;
  background-color: $main-bg;
  border-radius: 5px;
}

.decrement,
.increment {
  display: flex;
  flex-shrink: 0;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
  padding: 0;
  color: $border-color;
  font-size: 28px;
  background-color: transparent;
  border-radius: 5px;
  outline: none;
  opacity: 1;
  transition: all .2s ease;

  &:hover {
    color: $text-light;
    background-color: $bg-light;
  }
}

.increment {
  padding-top: 1px;
}

.decrement {
  padding-bottom: 2px;
}

.input {
  display: flex;
  flex-grow: 1;
  align-items: center;
  justify-content: center;
  width: 100%;
  min-width: 50px;
  margin: 0 11px;
  color: $text-light;
  font-weight: 400;
  font-size: 16px;
  text-align: center;
}