@import "../../styles/mixins";
@import "../../styles/variables";

.winners {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.wrapper {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  justify-content: space-between;
  width: 100%;
}

.row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.position {
  display: flex;
  flex-shrink: 0;
  width: 29px;
  height: 29px;
  margin-right: 10px;

  img {
    width: 100%;
  }
}

.title {
  margin-right: auto;
  font-size: 20px;
  line-height: 23px;
  @include text-ellipsis;
}

.value {
  flex-shrink: 0;
  width: 70px;
  margin-right: 14px;
  line-height: 24px;
  @include syncopate-font(14px);
  @include text-ellipsis;
}

.score {
  flex-shrink: 0;
  width: 90px;
  color: $text-green;
  line-height: 24px;
  text-align: right;
  @include syncopate-font(14px);
  @include text-ellipsis;
}

.scoreUP {
  color: $score-up;
}

.scoreDOWN {
  color: $score-down;
}

@media (max-width: $sm-breakpoint) {
  .title {
    font-size: 14px;
  }

  .score {
    width: 54px;
    padding-top: 4px;
    font-size: 12px;
  }

  .value {
    width: 60px;
    margin-right: 4px;
    padding-top: 4px;
    font-size: 12px;
  }
}