@import '../../styles/mixins';
@import '../../styles/variables';

.wrapper {
  position: relative;
  z-index: 100;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  width: 30px;
  height: 28px;

  span {
    position: absolute;
    top: 50%;
    height: 3px;
    background-color: $text-light;
    border-radius: 3px;
    transition: all .25s ease-in-out;

    &:first-child,
    &:last-child {
      width: 100%;
    }

    &:first-child {
      left: 0;
      margin-top: -12px;
    }

    &:nth-child(2) {
      top: 50%;
      width: 60%;
      margin-left: 10px;
      opacity: 1;
    }

    &:last-child {
      bottom: 0;
      margin-top: 12px;
    }
  }

  &.active {
    position: fixed;
    right: 20px;

    span {
      position: absolute;

      &:first-child {
        top: 50%;
        margin: 0;
        transform: rotate(135deg);
      }

      &:nth-child(2) {
        width: 0;
        margin: 0;
        opacity: 0;
      }

      &:last-child {
        top: 50%;
        margin: 0;
        transform: rotate(-135deg);
      }
    }
  }
}