html, body, #root, .app {
	display: flex;
	flex-direction: column;
	height: 100%;
}

body, #root, .app {
	flex-grow: 1;
    overflow: hidden;
    background-color: $main-bg;
}

.wrapper {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
}

.overlay {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -20;
    width: 100%;
    background-color: #000;
    opacity: 0;
    transition: opacity .3s ease-in-out;

    &.active {
        z-index: 20;
        opacity: 0.7;
        transition: opacity .3s ease-out;
    }
}

.btn {
    padding: 10px 14px;
    font-size: 16px;
    line-height: 18px;
    letter-spacing: 0.04em;
    text-decoration: none;
    border-radius: 24px;
}

.iframe {
    width: 100%;
    height: 100%;
}