* {
	box-sizing: border-box;
	background-repeat: no-repeat;

	&::before,
	&::after {
		box-sizing: inherit;
        background-repeat: no-repeat;
	}

    -webkit-tap-highlight-color: transparent;
}

html, body, #root, .app {
	display: flex;
	flex-direction: column;
	min-height: 100%;
    margin: 0;
    padding: 0;
}

body, #root, .app {
	flex-grow: 1;
    background-color: $main-bg;
}

a {
    text-decoration: none;
    &:visited {
        color: inherit;
        text-decoration: none;
    }
    &:-webkit-any-link {
        color: inherit;
    }
}

p {
    margin-top: 0;
    margin-bottom: 16px;
    &:last-child {
        margin-bottom: 0;
    }
}

/* Make images easier to work with */
img {
    display: block;
    max-width: 100%;
}

button, 
input[type='submit'],
a.btn {
    border: none;
    border-radius: 7px;
    background-color: transparent;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    transition: all .2s ease-out;
    opacity: .9;
    &:hover {
        opacity: 1;
    }
}

ul, ol {
    margin: 0;
}

.page {
    overflow: hidden;
    padding-bottom: 200px;
}

.wrapper {
    display: flex;
    flex-direction: row;
    width: 100%;
    min-height: 100%;
}

.overlay {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -20;
    width: 100%;
    background-color: #000;
    opacity: 0;
    transition: opacity .3s ease-in-out;

    &.active {
        z-index: 20;
        opacity: 0.7;
        transition: opacity .3s ease-out;
    }
}

.iframe {
    width: 100%;
    height: 100%;
}

.input,
input[type='text'],
input[type='password'],
input[type='tel'],
textarea {
    background: $bg-light;
    color: $text-light;
    border: 1px solid $border-color;
    border-radius: 7px;
    padding: 18px 17px;
    font-size: 16px;
    font-family: 'Work Sans', sans-serif;
    line-height: 19px;
    width: 100%;
}

label {
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    margin-bottom: 10px;
}

textarea {
    resize: none;
    height: 179px;
}

.rowWithLink {
    padding-top: 30px;
    padding-bottom: 50px;
}

.smallTableText {
    color: $text-gray;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
}