@mixin syncopate-font($font-size) {
  font-size: $font-size;
  font-family: Syncopate, sans-serif;
  text-transform: uppercase;
}

@mixin text-ellipsis {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

@mixin button-hover-animation {
  &::before {
    position: absolute;
    top: 50%;
    left: 0;
    height: 180px;
    background: $white;
    transform: translateY(-50%) rotate(45deg);
    opacity: .2;
    content: "";
  }

  &:hover {
    &::before {
      animation: opacity-in 550ms;
      animation-timing-function: cubic-bezier(0.19, 1, 0.22, 1);
      animation-iteration-count: 1;
      animation-direction: alternate;
      animation-fill-mode: forwards;
    }
  }
}