@import 'https://fonts.googleapis.com/css2?family=Syncopate:wght@700&family=Work+Sans:wght@400;500;600;700&display=swap';

// font-family: 'Syncopate', sans-serif;
// font-family: 'Work Sans', sans-serif;

html {
	font-size: 16px;
	font-family: 'Work Sans', sans-serif;
}

body {
	color: $text-light;
	line-height: 1.5;
}

h1, h2, h3, h4, h5, h6 {
	font-family: Syncopate, sans-serif;
	line-height: 1.2;
	text-transform: uppercase;
}

h1 {
	color: $text-light;
	@include syncopate-font(70px);
}

h2 {
	margin: 20px 0 40px;
	color: $text-light;
	@include syncopate-font(40px);
}

h3 {
	margin: 0 0 20px;
	font-size: 30px;
}

h4 {
	margin: 0 0 20px;
	font-size: 20px;
	line-height: 21px;
}

@media (max-width: $md-breakpoint) {
	h1 {
		font-size: 42px;
	}

	h2 {
		font-size: 30px;
		line-height: 35px;
	}

	h3 {
		font-size: 20px;
		line-height: 21px;
	}

	h4 {
		font-size: 18px;
		line-height: 25px;
	}
}