html {
	font-size: 62.5%;
	font-family: $main-font;
}

body {
	color: $text-light;
	font-size: 1.2rem;
	line-height: 1.5;
}

h1 {
	color: $text-light;
	font-size: 2.3rem;
	line-height: 1.3;
}

h2 {
	color: $text-light;
	font-size: 2rem;
	line-height: 1.2;
}