@import '../../styles/mixins';
@import '../../styles/variables';

.wrapper {
  position: absolute;
  right: -30%;
  bottom: 56px;
  z-index: 10;
  display: none;
  flex-direction: column;
  width: 282px;
  height: 197px;
  padding: 32px 22px;
  background-image: url('../../../public/backgrounds/share_modal_bg.png');
}

.link {
  display: flex;
  align-items: center;
  width: 100%;
  margin-bottom: 21px;
  color: $text-dark;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;

  svg {
    margin-right: 12px;
    font-size: 20px;
  }

  &:hover {
    color: $white;
  }
}