@import "../../styles/mixins";
@import "../../styles/variables";

.topSection {
  background-image: url(../../../public/backgrounds/top_section_dark_bg.png);
  background-position: 50% 44px;
  padding-top: 60px;
  padding-bottom: 208px;
}

.inner {
  display: flex;
}

.logo {
  width: 74px;
}

.button {
  margin-bottom: 20px;
}

.left {
  flex-grow: 1;
  padding-left: 15px;
}

.right {
  width: 527px;
  flex-shrink: 0;
  padding-right: 15px;
}


.items {
  display: flex;
  padding-top: 70px;
}

.item {
  display: flex;
  flex-direction: column;
  margin-right: auto;
  max-width: 200px;
  margin-bottom: 20px;
}

.itemImg {
  height: 42px;
  margin-bottom: 20px;
  img {
    height: 100%;
  }
}

.itemValue {
  @include syncopate-font(30px);
  line-height: 31px;
  margin-bottom: 10px;
  white-space: nowrap;
}

.itemDesc {
  font-size: 20px;
  line-height: 23px;
}

// sm-breakpoint: 576px;
// md-breakpoint: 768px;
// lg-breakpoint: 992px;
// xl-breakpoint: 1360px;
@media (max-width: $xl-breakpoint) {
  .items {
    flex-wrap: wrap;
  }

  .item {
    flex-grow: 1;
    max-width: 180px;
    padding-right: 20px;
    margin-bottom: 30px;
  }
}

@media (max-width: 1200px) {
  .topSection {
    padding-bottom: 90px;
  }
}

@media (max-width: $lg-breakpoint) {
  .topSection {
    background: none;
  }
}

@media (max-width: $lg-max) {
  .topSection {
    padding-top: 40px;
    padding-bottom: 60px;
  }

  .inner {
    flex-direction: column;
  }

  .left, .right  {
    padding: 0;
  }

  .left {
    display: flex;
    flex-direction: column;
  }

  .items {
    width: 100%;
    padding-top: 40px;
  }

  .item {
  }

  
  .itemValue {
    font-size: 25px;
    line-height: 26px;
  }

  .right {
    width: 100%;
  }
}

@media (max-width: $md-breakpoint) {
  .item {
    max-width: 140px;
  }
}

@media (max-width: $sm-breakpoint) {
  .logo {
    width: 54px;
  }

  .left {
    align-items: flex-start;
    text-align: left;
  }

  .items {
    justify-content: space-between;
  }

  .item {
    text-align: left;
    align-items: flex-start;
    margin: 0;
    padding-right: 10px;
    margin-bottom: 30px;
    max-width: 120px;
  }
}