@import "../../styles/mixins";
@import "../../styles/variables";

.nav {
  display: flex;
  flex-grow: 1;
  align-items: center;
}

.mobileWrapper {
  display: flex;
  flex-grow: 1;
}

.navList {
  @include syncopate-font(16px);

  display: flex;
  align-items: center;
  margin-left: 10px;
}

.navItem {
  display: flex;
  margin-left: 62px;
}

.navLink, .socialLink {
  transition: color .2s ease;

  &:hover {
    color: $red;
  }
}

.socialList {
  display: flex;
  align-items: center;
  margin-right: 160px;
  margin-left: auto;
}

.socialItem {
  display: flex;
}

.socialLink {
  display: flex;
  margin: 0 10px;
  font-size: 24px;
}

@media (max-width: $lg-breakpoint) {
  .nav {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -100;
    flex-direction: column;
    justify-content: center;
    background-color: rgba($color: $black, $alpha: 0);
    opacity: 0;
    transition: left .2s ease-in;

    .socialList {
      order: 0;
      margin-right: auto;
      margin-bottom: 60px;
      padding: 0;
    }

    .navList {
      flex-direction: column;
      order: 1;
      margin-right: auto;
      margin-bottom: 20px;
      margin-left: auto;
      padding: 0;
    }

    .navItem {
      margin-bottom: 20px;
      margin-left: 0;
    }
    
    .button {
      order: 2;
      margin: 0;
    }

    .mobileWrapper {
      position: absolute;
      top: 0;
      bottom: 0;
      left: -100%;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      width: 100%;
      height: 100%;
      transition: left .3s ease-in-out 0.1s;
    }

    &.active {
      position: fixed;
      z-index: 50;
      background-color: rgba($color: #1B2126, $alpha: .8);
      opacity: 1;
      transition: all .2s ease-out 0.1s;

      .mobileWrapper {
        left: 0;
      }
    }
  }
}