@import '../../styles/mixins';
@import '../../styles/variables';

.overlay {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 500;
  display: none;
  align-items: flex-start;
  justify-content: center;
  overflow-x: auto;
  background-color: rgba($color: $black, $alpha: 0.5);
  backdrop-filter: blur(3px);
}

.active {
  display: flex;
}

.wrapper {
  position: relative;
  width: 390px;
  margin: 20px auto;
  padding: 30px;
  background: $main-bg;
  border-radius: 7px;
}

.close {
  position: absolute;
  top: -4px;
  right: -50px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 36px;
  height: 36px;
  color: $text-light;
  font-size: 32px;
  cursor: pointer;
  transition: all .2s ease;

  &:hover {
    color: $white;
  }
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.title {
  margin-bottom: 10px;
  font-size: 20px;
}

p.description {
  max-width: 290px;
  margin-bottom: 40px;
  font-size: 16px;
  line-height: 19px;
}

.walletItem {
  display: flex;
  flex-grow: 1;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 15px;
  padding: 13px 22px 12px;
  font-size: 20px;
  line-height: 23px;
  background-color: $bg-light;
  border-radius: 5px;
  transition: all .2s ease;

  &:hover {
    color: $white;
  }
}

.walletInfo {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-right: 10px;
  text-align: left;
}

.walletTitle {
  font-size: 20px;
  @include text-ellipsis;
}

.walletDesc {
  font-size: 14px;
  line-height: 17px;
}

.walletIcon {
  width: 30px;
}

.loader {
  margin-top: 20px;
  margin-bottom: 70px;
}

.buttons {
  display: flex;
  flex-direction: column;

  button, a {
    margin-bottom: 20px;

    &:last-of-type {
      margin-bottom: 0;
    }
  }
}

.paddedButtons {
  padding-top: 48px;
}

.img {
  width: 151px;
  margin-bottom: 24px;
}

.imgCreated {
  width: 112px;
  margin-top: 30px;
  margin-bottom: 54px;
}

// sm-breakpoint: 576px;
// md-breakpoint: 768px;
// lg-max: 960px;
// lg-breakpoint: 992px;
// xl-breakpoint: 1200px;
// xxl-breakpoint: 1360px;

@media (max-width: $sm-breakpoint) {
  .wrapper {
    width: 300px;
    padding: 5px 10px 30px;
  }

  .close {
    position: static;
    margin-left: auto;
  }
}