@import '../../styles/mixins';
@import '../../styles/variables';

.wrapper {
  padding-top: 60px;
  padding-bottom: 180px;
  background-image: url('../../../public/backgrounds/battle_stages_dark_bg.png');
  background-position: 50% 54px;
}

.line {
  background-image: url('../../../public/backgrounds/battle_stages_dark_bg_before.png');
  background-position: 0 90px;
}

.title {
  margin-top: 0;
  margin-bottom: 60px;
  padding-left: 112px;
}

.main {
  display: flex;
  flex-direction: column;
}

.item {
  display: flex;
  max-width: 956px;
  margin-bottom: 126px;

  &:nth-child(2) {
    margin-bottom: 148px;
  }

  &:nth-child(3) {
    margin-bottom: 148px;
  }

  &:nth-child(4) {
    margin-bottom: 88px;
  }
}

.num {
  flex-shrink: 0;
  width: 54.5px;
  margin-right: 40px;
}

.content {
  flex-grow: 1;
  font-size: 16px;
  line-height: 19px;
}

.itemTitle {
  margin-bottom: 15px;
  font-size: 22px;
  line-height: 25px;
}

.note {
  padding-top: 30px;
}

.column {
  display: flex;
  flex-direction: column;
  line-height: 19px;

  &:last-child {
    max-width: 414px;
  }
}

.list {
  margin-left: 0;
  padding-left: 0;
  list-style: outside;
}

.buttons {
  display: flex;
  padding-left: 94px;

  button {
    margin-right: 32px;
    margin-bottom: 12px;
  }
}


// sm-breakpoint: 576px;
// md-breakpoint: 768px;
// lg-breakpoint: 992px;
// xxl-breakpoint: 1360px;
@media (max-width: $xxl-breakpoint) {
  .line {
    background-position: 20px 90px;
  }

  .main {
    padding: 0 20px;
  }
}

@media (max-width: 1200px) {
  .wrapper {
    padding-bottom: 90px;
  }
}

@media (max-width: $lg-max) {
  .wrapper {
    padding-top: 0;
    padding-bottom: 60px;
  }

  .main {
    padding: 0;
  }

  .title {
    padding-left: 92px;
  }

  .line {
    background-image: none;
  }

  .item {
    margin-bottom: 50px;

    &:nth-child(2) {
      margin-bottom: 50px;
    }

    &:nth-child(3) {
      margin-bottom: 50px;
    }

    &:nth-child(4) {
      margin-bottom: 50px;
    }
  }
}

@media (max-width: $md-breakpoint) {
  .title {
    padding-left: 0;
  }

  .column {
    margin-bottom: 30px;

    &:last-child {
      max-width: 100%;
      margin-bottom: 0;
    }
  }

  .list {
    list-style: inside;
  }

  .itemTitle {
    margin-bottom: 30px;
  }

  .buttons {
    flex-wrap: wrap;
    justify-content: space-around;
    padding-left: 0;

    button {
      margin-right: 0;
      margin-bottom: 20px;
    }
  }
}

@media (max-width: $sm-breakpoint) {
  .title {
    padding-left: 0;
  }

  .main {
    padding: 0;
  }

  .num {
    margin-right: 0;
    margin-bottom: 20px;
  }

  .itemTitle {
    font-size: 18px;
  }

  .item {
    flex-direction: column;
  }
}