@import "../../styles/variables";

.header {
  padding: 16px 0;
  background-color: $header-bg;
  position: sticky;
  top: 0;
  z-index: 25;
}

.headerRow {
  display: flex;
  align-items: center;
}

.menuBtn {
  margin-left: auto;
}

.button {
  margin-left: 150px;
}

@media (max-width: $lg-max) {
  .header {
    position: sticky;
    top: 0;
    z-index: 25;
    padding: 12px 0;
  }
}