@import '../../styles/mixins';
@import '../../styles/variables';

.wrapper {
  padding-top: 80px;
}

.container {
  max-width: 1434px;
  margin: 0 auto;
  position: relative;
}

.img {
  position: absolute;
  max-width: 590px;
  top: -150px;
  left: 0;
}

.content {
  padding-left: 634px;
}

.title {
  line-height: 42px;
  margin-top: 0;
  margin-bottom: 10px;
}

.desc {
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
}