@import '../../styles/mixins';
@import '../../styles/variables';

.wrapper {
  padding-top: 80px;
  padding-bottom: 180px;
}

.container {
  background-image: url(../../../public/backgrounds/be_on_step_bg_dark.png);
  background-position: 100% 100%;
  max-width: 1434px;
  margin: 0 auto;
  position: relative;
}

.img {
  position: absolute;
  max-width: 590px;
  top: -150px;
  left: 0;
  z-index: 10;
}

.content {
  background-image: url(../../../public/backgrounds/be_on_step_bg.png);                
  background-position: 100% 65px;
  padding: 152px 0 120px 634px;
  max-width: 1304px;
  position: relative;
  &:before {
    content: '';
    background-image: url(../../../public/backgrounds/be_on_step_before.png);
    position: absolute;
    width: 142px;
    height: 23px;
    top: 68px;
    right: 14%;
  }
  &:after {
    content: '';
    background-image: url(../../../public/backgrounds/be_on_step_after.png);
    position: absolute;
    width: 7px;
    height: 169px;
    top: 312px;
    right: -4px;
  }
}

.inner {
  max-width: 580px;
}

.title {
  line-height: 42px;
  margin-top: 0;
  margin-bottom: 10px;
}

.desc {
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
  margin-bottom: 0;
}

.items {
  display: flex;
  padding-top: 92px;
}

.item {
  display: flex;
  flex-direction: column;
  margin-right: auto;
  max-width: 270px;
  margin-bottom: 20px;
  margin-right: 52px;
}

.icon {
  height: 42px;
  margin-bottom: 10px;
  img {
    height: 100%;
  }
}

.text {
  font-size: 16px;
  line-height: 19px;
}

.buttons {
  padding-top: 60px;
  display: flex;
  align-items: center;
}

.button {
  margin-right: 36px;
}


// sm-breakpoint: 576px;
// md-breakpoint: 768px;
// lg-breakpoint: 992px;
// xl-breakpoint: 1360px;
@media (max-width: $xl-breakpoint) {
  .content {
    padding-top: 132px;
    padding-left: 45%;
    margin-right: 60px;
    padding-right: 80px;
   
  }
  .img {
    width: 42%;
    top: calc(50% - 50px);
    transform: translateY(-50%);
  }
  .items {
    padding-top: 10%;
  }
  .buttons {
    flex-direction: column;
    padding-top: 5%;
    align-items: flex-start;
  }
  .button {
    margin-right: 0;
    margin-bottom: 16px;
  }
}

@media (max-width: 1200px) {
  .wrapper {
    padding-top: 0;
    padding-bottom: 90px;
  }
}

@media (max-width: $lg-max) {
  .container {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  .img {
    position: static;
    width: 50%;
    margin: 0;
    margin-top: 30px;
    transform: none;
    overflow: hidden;
    img {
      margin-top: -20%;
    }
  }
  .content {
    padding: 0 20px;
    background: none;
    max-width: 100%;
    width: 50%;
    margin: 0;
    &::before,
    &::after {
      display: none;
    }
  }
}

@media (max-width: $lg-max) {
  .wrapper {
    padding-top: 0;
    padding-bottom: 60px;
  }
}

@media (max-width: $md-breakpoint) {
  .container {
    flex-direction: column-reverse;
    align-items: flex-start;
  }

  .content {
    width: 100%;
  }

  .img {
    width: 100%;
  }
}

@media (max-width: $sm-breakpoint) {
  .items {
    flex-direction: column;
    margin-bottom: 40px;
  }
  .item {
    max-width: 100%;
    width: 100%;
    margin-bottom: 20px;
    margin-right: 0;
  }
  .buttons {
    padding-top: 0;
  }
}