@import '../../styles/mixins';
@import '../../styles/variables';

.wrapper {
  padding-top: 80px;
}

.container {
  position: relative;
  max-width: 1434px;
  margin: 0 auto;
  background-image: url('../../../public/backgrounds/be_on_step_bg_dark.png');
  background-position: 100% 100%;
}

.img {
  position: absolute;
  top: -150px;
  left: 0;
  z-index: 10;
  max-width: 590px;

  img {
    opacity: 0;
  }

  &::before {
    position: absolute;
    top: 0;
    right: 0;
    display: flex;
    width: 972px;
    height: 798.02px;
    background-image: url('../../../public/images/be_on_step_img_full@2x.png');
    background-size: contain;
    content: '';
  }
}

.content {
  position: relative;
  max-width: 1304px;
  padding: 152px 0 120px 634px;
  background-image: url('../../../public/backgrounds/be_on_step_bg.png');                
  background-position: 100% 65px;

  &::before {
    position: absolute;
    top: 68px;
    right: 14%;
    width: 142px;
    height: 23px;
    background-image: url('../../../public/backgrounds/be_on_step_before.png');
    content: '';
  }

  &::after {
    position: absolute;
    top: 312px;
    right: -4px;
    width: 7px;
    height: 169px;
    background-image: url('../../../public/backgrounds/be_on_step_after.png');
    content: '';
  }
}

.inner {
  max-width: 580px;
}

.title {
  margin-top: 0;
  margin-bottom: 10px;
  line-height: 42px;
}

.desc {
  margin-bottom: 0;
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
}

.items {
  display: flex;
  padding-top: 92px;
}

.item {
  display: flex;
  flex-direction: column;
  max-width: 270px;
  margin-right: 52px;
  margin-bottom: 20px;
}

.icon {
  height: 42px;
  margin-bottom: 10px;

  img {
    height: 100%;
  }
}

.text {
  font-size: 16px;
  line-height: 19px;
}

.buttons {
  display: flex;
  align-items: center;
  padding-top: 60px;
}

.button {
  margin-right: 36px;
}


// sm-breakpoint: 576px;
// md-breakpoint: 768px;
// lg-breakpoint: 992px;
// xl-breakpoint: 1200px;
// xxl-breakpoint: 1360px;
@media (max-width: $xxl-breakpoint) {
  .content {
    margin-right: 60px;
    padding-top: 132px;
    padding-right: 80px;
    padding-left: 45%;
   
  }

  .img {
    top: calc(50% - 50px);
    width: 42%;
    transform: translateY(-50%);

    img {
      opacity: 1;
    }

    &::before {
      display: none;
    }
  }

  .items {
    padding-top: 10%;
  }

  .buttons {
    flex-direction: column;
    align-items: flex-start;
    padding-top: 5%;
  }

  .button {
    margin-right: 0;
    margin-bottom: 16px;
  }
}

@media (max-width: 1200px) {
  .wrapper {
    padding-top: 0;
  }
}

@media (max-width: $lg-max) {
  .container {
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  .img {
    position: static;
    width: 50%;
    margin: 0;
    margin-top: 30px;
    overflow: hidden;
    transform: none;

    img {
      margin-top: -20%;
    }
  }

  .content {
    width: 50%;
    max-width: 100%;
    margin: 0;
    padding: 0 20px;
    background: none;

    &::before,
    &::after {
      display: none;
    }
  }
}

@media (max-width: $md-breakpoint) {
  .container {
    flex-direction: column-reverse;
    align-items: flex-start;
  }

  .content {
    width: 100%;
  }

  .img {
    width: 100%;
  }
}

@media (max-width: $sm-breakpoint) {
  .items {
    flex-direction: column;
    margin-bottom: 40px;
  }

  .item {
    width: 100%;
    max-width: 100%;
    margin-right: 0;
    margin-bottom: 20px;
  }

  .buttons {
    padding-top: 0;
  }
}