@import "../../../styles/mixins";
@import "../../../styles/variables";

.wrapper {
  position: relative;
  display: grid;
  grid-gap: 20px;
  grid-template-columns: 1fr auto;
  align-items: center;
  padding: 12px 13px;
  border-left: 2px solid transparent;
  border-radius: 7px;
  transition: all .2s ease-in-out;

  &:hover {
    background-color: $bg-light;

    .numericInput {
      background-color: $main-bg;
    }
  }
}

.statistics {
  position: absolute;
  top: 90%;
  left: 5%;
  z-index: -10;
  width: 292px;
  height: 197px;
  padding: 27px 34px;
  background-image: url('../../../../public/statistics/bg-modal.png');
  opacity: 0;
  transition: all .2s ease-in-out;

  &.active {
    z-index: 3;
    opacity: 1;
  }
}

.clickWrapper {
  display: grid;
  flex-grow: 1;
  grid-gap: 20px;
  grid-template-columns: 46px 1fr 1fr;
  align-items: center;
  margin: 0;
  font-size: 20px;
  line-height: 23px;
  cursor: pointer;
  user-select: none;

  &:hover {
    .statistics {
      display: block;
    }
  }
}

.checkbox {
  display: none;
  opacity: 0;

  &:checked {
    &+.wrapper {
      background-color: $bg-light;
      border-left: 2px solid red;

      .numericInput {
        background-color: $main-bg;
      }
    }
  }
}

.icon {
  flex-shrink: 0;
  width: 46px;
  overflow: hidden;
  border-radius: 50%;
}

.title {
  font-weight: 500;
  text-transform: uppercase;
  @include text-ellipsis;
}

.val {
  font-weight: 400;
}

.btnsWrapper {
  display: grid;
  grid-gap: 15px;
  grid-template-columns: 140px auto auto 36px;
  align-items: center;
}

.numericInput {
  background-color: $bg-light;
}

.btn {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 36px;
  height: 36px;
  color: $text-light;
  font-size: 20px;
  border-radius: 7px;

  &:hover {
    background-color: $main-bg;

    .tooltip {
      z-index: 3;
      opacity: 1;
    }
  }
}

.closeBtn {
  display: none;
  align-items: center;
  justify-content: center;
  width: 36px;
  height: 36px;
  color: $text-light;
  font-size: 20px;
  border-radius: 7px;
}

.tooltip {
  position: absolute;
  top: -32px;
  right: auto;
  z-index: -10;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 16px;
  white-space: nowrap;
  text-align: center;
  background: $text-dark;
  border-radius: 5px;
  box-shadow: 5px 7px 50px #1B2228;
  opacity: 0;
  transition: all .2s ease-in-out;
}

.showMobileBlock {
  display: none;
  margin: 0;
  padding: 0;
  color: $text-light;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.8px;
  text-align: center;
  border: none;
}

.mobileBlock {
  display: flex;
}

// sm-breakpoint: 576px;
// md-breakpoint: 768px;
// lg-breakpoint: 992px;
// xxl-breakpoint: 1360px;

@media (max-width: 1200px) {
  .wrapper {
    grid-auto-flow: column;
    grid-gap: 20px;
    grid-template-rows: auto auto;
    grid-template-columns: none;
    margin-bottom: 12px;
    background-color: $bg-light;
  }

  .clickWrapper {
    grid-gap: 10px;
    grid-template-columns: 24px 1fr 1fr;
    font-size: 16px;
  }

  .icon {
    width: 24px;
  }

  .val {
    text-align: right;
  }

  .btnsWrapper {
    grid-template-areas:
    "numericInput numericInput"
    "upButton1 upButton2"
    "showMobile showMobile"
    "mobile mobile";
    grid-template-columns: auto;
  }

  .numeric {
    grid-area: numericInput;
  }

  .numericInput {
    background-color: $main-bg;
  }

  .upBtnWrapp {
    &:first-of-type {
      grid-area: upButton1;
    }

    &:last-of-type {
      grid-area: upButton2;
    }
  }

  .showMobileBlock {
    display: block;
    grid-area: showMobile;
    padding: 10px 0;
    outline: none;
    user-select: none;
  }

  .mobileBlock {
    display: none;
    flex-direction: column;
    grid-area: mobile;

    &.mobActive {
      display: flex;
    }
  }

  .statistics {
    position: static;
    z-index: 10;
    margin: 0 auto 10px;
    background: $main-bg;
    border-radius: 7px;
    opacity: 1;
  }

  .btn {
    flex-grow: 1;
    width: auto;

    svg {
      display: none;
    }
  }

  .mobileButtons {
    display: flex;
  }

  .tooltip {
    position: static;
    z-index: 1;
    flex-grow: 1;
    padding: 10px 17px;
    color: $text-light;
    transform: none;
    opacity: 1;
  }

  .closeBtn {
    display: flex;
  }
}

@media (max-width: $sm-breakpoint) {
  .statistics {
    width: 100%;
  }
}