@import '../../styles/mixins';
@import '../../styles/variables';

.titleRow {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 75px;
  padding-right: 20px;

  h3 {
    margin-bottom: 0;
  }
}

.shareBlock {
  position: relative;
  padding: 15px 0;

  &:hover {
    .hover {
      display: flex;
    }
  }
}

@media (max-width: $lg-max) {
  .titleRow {
    padding-right: 0;
  }
}

@media (max-width: $sm-breakpoint) {
  .titleRow {
    flex-wrap: wrap;

    h3 {
      margin-right: 15px;
    }
  }
}