@import "../../styles/variables";

.footer {
  padding: 16px 0;
  background-color: $header-bg;
}

.footerRow {
  display: flex;
  align-items: center;
}

.socialLink {
  display: flex;
  margin: 0 10px;
  font-size: 24px;
  transition: color .2s ease;

  &:hover {
    color: $red;
  }
}

.socialList {
  display: flex;
  align-items: center;
  margin-left: auto;
}

.socialItem {
  display: flex;
}

@media (max-width: $lg-max) {
  .footer {
    padding: 12px 0;
  }
}