@import "../../styles/mixins";
@import "../../styles/variables";

.balancePart {
  display: flex;
  flex-direction: column;
  margin-bottom: 50px;

  div {
    &:first-child {
      margin-bottom: 40px;
    }
  }
}

.balance {
  margin-bottom: 0;
  font-weight: 700;
  font-size: 30px;
  font-family: Syncopate;
  line-height: 31px;
}

.myPortfolioBalance {
  font-weight: 700;
  font-size: 40px;
  font-family: Syncopate;
  line-height: 42px;
}

.coinsPart {
  margin-bottom: 25px;
  padding: 25px 0;
  border-top: 1px solid $border-color;
  border-bottom: 1px solid $border-color;
}

.coinItem {
  display: flex;
  align-items: center;
  margin-bottom: 10px;

  &:last-of-type {
    margin-bottom: 0;
  }
}

.coinIcon {
  flex-shrink: 0;
  width: 24px;
  margin-right: 10px;
  overflow: hidden;
  border-radius: 50%;
}

.coinTitle {
  flex-grow: 1;
  margin-right: 8px;
  font-weight: 500;
  font-size: 20px;
  line-height: 23px;
  text-transform: uppercase;
  @include text-ellipsis;
}

.coinInput {
  max-width: 140px;
}

.coinRemove {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 28px;
  height: 28px;
  margin-left: 8px;
  color: $text-light;
  font-size: 28px;
}

.buttonsPart {
  display: flex;
  flex-direction: column;
  align-items: center;

  button {
    margin-bottom: 20px;

    &:last-of-type {
      margin-bottom: 0;
    }
  }
}

@media (max-width: $md-breakpoint) {
  .coinTitle {
    font-size: 16px;
    line-height: normal;
  }

  .balancePart {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 50px;
  
    div {
      flex-shrink: 0;
      max-width: 50%;
      overflow: hidden;

      &:first-child {
        margin-bottom: 0;
      }
    }
  }

  .balance, .myPortfolioBalance {
    font-size: 25px;
    line-height: 26px;
    @include text-ellipsis;
  }

  .myPortfolioBalance {
    text-align: right;
  }
}

@media (max-width: $sm-breakpoint) {
  .balancePart {
    margin-bottom: 25px;
  }
  
  .coinsPart {
    padding: 0;
    border-bottom: none;
  }

  .coinItem {
    flex-wrap: wrap;
    padding-top: 26px;
    padding-bottom: 10px;
    border-bottom: 1px solid $border-color;
  }

  .coinIcon {
    order: 0;
  }

  .coinTitle {
    order: 1;
  }

  .coinInput {
    order: 3;
    width: 100%;
    max-width: 100%;
    margin-top: 26px;
  }
  
  .coinRemove {
    order: 2;
    margin-left: auto;
  }
}