@import "../../styles/mixins";
@import "../../styles/variables";

.wrapper {
  display: flex;
  align-items: center;
  width: 386px;
  height: 95px;
  margin-bottom: 46px;
  padding: 12px 26px;
  background-image: url('../../../public/backgrounds/profit_bg.png');
}


.img {
  flex-shrink: 0;
  width: 63px;
  margin-right: 10px;
}

.noNFT {
  align-items: flex-start;
  height: 125px;
  padding: 18px 26px;
  background-image: url('../../../public/backgrounds/no_nft_bg.png');

  .img {
    overflow: hidden;
    border-radius: 6px;
    filter: drop-shadow(0 4px 10px rgba(0, 0, 0, 0.25));
  }
}

.noNftText {
  display: flex;
  flex-direction: column;
}

.red {
  color: $red-midium;
}

.text {
  color: $text-dark;
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
}

a.link {
  @include syncopate-font(16px);

  display: flex;
  flex-grow: 1;
  align-items: center;
  justify-content: space-between;
  max-width: 245px;
  margin-top: 10px;
  padding: 3px 14px;
  color: $red-text;
  background-color: rgba(236, 240, 248, 0.19);
  border-radius: 7px;
  transition: all .3s ease;

  span {
    padding-top: 3px;
  }

  svg {
    font-size: 30px;
    transition: all .2s ease;
  }

  &:hover {
    color: lighten($color: $red-text, $amount: .5);
    background-color: rgba(236, 240, 248, 0.4);

    svg {
      transform: translateX(2px);
    }
  }
}

// sm-breakpoint: 576px;
// md-breakpoint: 768px;
// lg-breakpoint: 992px;
// xxl-breakpoint: 1360px;
@media (max-width: $xxl-breakpoint) {
  .wrapper {
    width: 100%;
    height: auto;
  }
}

@media (max-width: 1200px) {
  .wrapper {
    background-size: cover;
    border-radius: 8px;
  }
}