@import '../../styles/mixins';
@import '../../styles/variables';


.wrapper {
  height: 390px;
  padding: 80px 0;
  background-image: url('../../../public/backgrounds/battle_image_section@2x.png');
  background-position: center;
  background-size: contain;
}

.row {
  position: relative;
  display: flex;
  align-items: center;
}

.description {
  position: relative;
  z-index: 5;
  flex-shrink: 1;
  max-width: 620px;
  padding: 58px 0 58px 126px;
}

.img {
  display: none;
}

// sm-breakpoint: 576px;
// md-breakpoint: 768px;
// lg-max: 960px;
// lg-breakpoint: 992px;
// xl-breakpoint: 1200px;
// xxl-breakpoint: 1360px;
@media (max-width: $xxl-breakpoint) {
  .wrapper {
    height: 358px;
  }
}
@media (max-width: $xl-breakpoint) {
  .wrapper {
    margin-right: 10px;
  }

  .description {
    max-width: 460px;
    padding: 58px 0 58px 94px;
  }
}

@media (max-width: $lg-max) {
  .wrapper {
    position: relative;
    height: auto;
    margin-right: 0;
    padding: 38px 0 50px;
    background-image: url('../../../public/backgrounds/battle_lines_bg_02.png');
    background-position-y: 100%;
    border-top: 1px solid #A10B0B;

    &::after {
      position: absolute;
      right: 10%;
      bottom: -5px;
      display: flex;
      width: 142px;
      height: 23px;
      background-image: url('../../../public/backgrounds/about_the_partner_after.png');
      content: '';
    }
  }

  .row {
    flex-direction: column;
  }

  .description {
    max-width: 100%;
    margin-bottom: 20px;
    padding: 0;
  }

  .img {
    display: flex;
  }
}