@import "../../styles/mixins";
@import "../../styles/variables";

.wrapper {
  background-image: url(../../../public/backgrounds/about_the_partner_dark_bg.png);
  background-position: calc(50% - 232px) 180px;
  padding-top: 0;
  padding-bottom: 130px;
}

.main {
  background-image: url(../../../public/backgrounds/about_the_partner_bg.png);
  background-position: 0 0;
  display: flex;
  padding: 76px 20px 64px 124px;
  position: relative;
  &::before {
    content: '';
    background-image: url(../../../public/backgrounds/about_the_partner_before.png);
    background-position: 1px 0;
    position: absolute;
    left: -7px;
    top: calc(50% - 5px);
    width: 7px;
    height: 169px;
    z-index: 5;
  }
  &::after {
    content: '';
    background-image: url(../../../public/backgrounds/about_the_partner_after.png);
    background-position: 0 1px;
    position: absolute;
    left: 30px;
    top: 3px;
    width: 142px;
    height: 23px;
    z-index: 5;
  }
}

.left {
  padding-right: 426px;
}

.image {
  max-width: 677px;
  position: absolute;
  right: -90px;
  top: -36px;
  img {
    opacity: 0;
  }
  &:before {
    content: '';
    background-image: url(../../../public/images/about_partners_img_full@2x.png);
    background-size: contain;
    position: absolute;
    left: 0;
    top: -156px;
    display: flex;
    width: 991.43px;
    height: 727.14px;
  }
}

.title {
  margin: 0;
  padding-left: 100px;
}

.subtitleRow {
  display: flex;
  align-items: center;
  margin-bottom: 30px;
}

.desc {
  font-size: 18px;
  line-height: 21px;
  margin-bottom: 0;
}

.logo {
  width: 74px;
  margin-right: 28px;
}

.subtitle {
  margin-bottom: 0;
}

.socials {
  display: flex;
  align-items: baseline;
}

.socialLink {
  display: flex;
  font-size: 26px;
  transition: color .2s ease;
  margin-right: 20px;
  margin-bottom: 10px;
  padding-top: 38px;
  &:hover {
    color: $red;
  }
  &:last-child {
    margin-right: 0;
  }
}


// sm-breakpoint: 576px;
// md-breakpoint: 768px;
// lg-breakpoint: 992px;
// xxl-breakpoint: 1360px;
@media (max-width: $xxl-breakpoint) {
  .wrapper {
    background-image: none;
    background-position: 0;
    overflow: hidden;
  }
  .main {
    background: none;
    padding: 60px 20px 64px 8%;
    border-top: 2px solid $red-light;
    border-bottom: 2px solid $red-light;
    border-left: 2px solid $red-light;
    border-radius: 12px 0 0 12px;
   
    &::after {
      left: 46px;
      top: -19px;
    }
  }

  .title {
    margin-bottom: 38px;
  }

  .left {
    padding-right: 0;
    max-width: 58%;
    position: relative;
    z-index: 5;
  }

  .logo {
    width: 48px;
  }

  .image {
    width: 667px;
    right: -8%;
    top: 51%;
    transform: translateY(-50%);
    z-index: 15;
    &:before {
      content: "";
      width: 54%;
      top: 14px;
      height: 30px;
      right: 0;
      background-color: $main-bg;
      background-image: none;
      background-size: initial;
      left: initial;
      position: absolute;
    }
    &:after {
      content: "";
      width: 98%;
      bottom: 14px;
      height: 30px;
      right: 0;
      background-color: $main-bg;
      position: absolute;
    }
    img {
      display: block;
      max-width: 100%;
      z-index: 15;
      position: relative;
      opacity: 1;
    }
  }
}

@media (max-width: 1200px) {
  .image {
    right: -14%;
    &:before {
      top: -8px;
    }
    &:after {
      bottom: -44%;
      height: 50%;
    }
  }

  .wrapper {
    padding-bottom: 90px;
  }
}

@media (max-width: $lg-max) {
  .wrapper {
    padding-bottom: 60px;
  }

  .title {
    padding-top: 30px;
    padding-left: 92px;
  }
  .main {
    background: none;
    padding: 0;
    border-top: none;
    border-bottom: none;
    border-left: none;
    border-radius: 0;
    display: flex;
    align-items: center;
    margin-top: -20px;
   
    &::before,
    &::after {
      display: none;
    }
  }
  .left {
    width: 50%;
    max-width: 100%;
  }

  .image {
    position: static;
    transform: none;
    max-width: 590px;
    width: 50%;
    margin: auto;
    &::before,
    &::after {
      display: none;
    }
  }
}

@media (max-width: $md-breakpoint) {
  .wrapper {
    padding-bottom: 0;
  }

  .title {
    padding-left: 0;
  }

  .main {
    flex-direction: column;
    margin-top: 0;
  }

  .left {
    width: 100%;
  }

  .image {
    margin: -10% 0 0;
    width: 100%;
    align-self: flex-end;
  }
}

@media (max-width: $sm-breakpoint) {
  .title {
    margin-bottom: 15px;
  }
  
  .subtitleRow {
    flex-direction: column;
    align-items: flex-start;
  }

  .logo {
    width: 55px;
    margin-bottom: 20px;
  }
}