@import "../../styles/mixins";
@import "../../styles/variables";

.wrapper {
  padding-top: 0;
  padding-bottom: 130px;
  background-image: url('../../../public/backgrounds/about_the_partner_dark_bg.png');
  background-position: calc(50% - 232px) 180px;
}

.main {
  position: relative;
  display: flex;
  padding: 76px 20px 64px 124px;
  background-image: url('../../../public/backgrounds/about_the_partner_bg.png');
  background-position: 0 0;

  &::before {
    position: absolute;
    top: calc(50% - 5px);
    left: -7px;
    z-index: 5;
    width: 7px;
    height: 169px;
    background-image: url('../../../public/backgrounds/about_the_partner_before.png');
    background-position: 1px 0;
    content: '';
  }

  &::after {
    position: absolute;
    top: 3px;
    left: 30px;
    z-index: 5;
    width: 142px;
    height: 23px;
    background-image: url('../../../public/backgrounds/about_the_partner_after.png');
    background-position: 0 1px;
    content: '';
  }
}

.left {
  padding-right: 426px;
}

.image {
  position: absolute;
  top: -36px;
  right: -90px;
  max-width: 677px;

  img {
    opacity: 0;
  }

  &::before {
    position: absolute;
    top: -156px;
    left: 0;
    display: flex;
    width: 991.43px;
    height: 727.14px;
    background-image: url('../../../public/images/about_partners_img_full@2x.png');
    background-size: contain;
    content: '';
  }
}

.title {
  margin: 0;
  padding-left: 100px;
}

.subtitleRow {
  display: flex;
  align-items: center;
  margin-bottom: 30px;
}

.desc {
  margin-bottom: 0;
  font-size: 18px;
  line-height: 21px;
}

.logo {
  width: 74px;
  margin-right: 28px;
}

.subtitle {
  margin-bottom: 0;
}

.socials {
  display: flex;
  align-items: baseline;
}

.socialLink {
  display: flex;
  margin-right: 20px;
  margin-bottom: 10px;
  padding-top: 38px;
  font-size: 26px;
  transition: color .2s ease;

  &:hover {
    color: $red;
  }

  &:last-child {
    margin-right: 0;
  }
}


// sm-breakpoint: 576px;
// md-breakpoint: 768px;
// lg-breakpoint: 992px;
// xxl-breakpoint: 1360px;
@media (max-width: $xxl-breakpoint) {
  .wrapper {
    overflow: hidden;
    background-image: none;
    background-position: 0;
  }

  .main {
    padding: 60px 20px 64px 8%;
    background: none;
    border-top: 2px solid $red-light;
    border-bottom: 2px solid $red-light;
    border-left: 2px solid $red-light;
    border-radius: 12px 0 0 12px;
   
    &::after {
      top: -19px;
      left: 46px;
    }
  }

  .title {
    margin-bottom: 38px;
  }

  .left {
    position: relative;
    z-index: 5;
    max-width: 58%;
    padding-right: 0;
  }

  .logo {
    width: 48px;
  }

  .image {
    top: 51%;
    right: -8%;
    z-index: 15;
    width: 667px;
    transform: translateY(-50%);

    &::before {
      position: absolute;
      top: 14px;
      right: 0;
      left: initial;
      width: 54%;
      height: 30px;
      background-color: $main-bg;
      background-image: none;
      background-size: initial;
      content: "";
    }

    &::after {
      position: absolute;
      right: 0;
      bottom: 14px;
      width: 98%;
      height: 30px;
      background-color: $main-bg;
      content: "";
    }

    img {
      position: relative;
      z-index: 15;
      display: block;
      max-width: 100%;
      opacity: 1;
    }
  }
}

@media (max-width: 1200px) {
  .image {
    right: -14%;

    &::before {
      top: -8px;
    }

    &::after {
      bottom: -44%;
      height: 50%;
    }
  }

  .wrapper {
    padding-bottom: 90px;
  }
}

@media (max-width: $lg-max) {
  .wrapper {
    padding-bottom: 60px;
  }

  .title {
    padding-top: 30px;
    padding-left: 92px;
  }

  .main {
    display: flex;
    align-items: center;
    margin-top: -20px;
    padding: 0;
    background: none;
    border-top: none;
    border-bottom: none;
    border-left: none;
    border-radius: 0;
   
    &::before,
    &::after {
      display: none;
    }
  }

  .left {
    width: 50%;
    max-width: 100%;
  }

  .image {
    position: static;
    width: 50%;
    max-width: 590px;
    margin: auto;
    transform: none;

    &::before,
    &::after {
      display: none;
    }
  }
}

@media (max-width: $md-breakpoint) {
  .wrapper {
    padding-bottom: 0;
  }

  .title {
    padding-left: 0;
  }

  .main {
    flex-direction: column;
    margin-top: 0;
  }

  .left {
    width: 100%;
  }

  .image {
    align-self: flex-end;
    width: 100%;
    margin: -10% 0 0;
  }
}

@media (max-width: $sm-breakpoint) {
  .title {
    margin-bottom: 15px;
  }
  
  .subtitleRow {
    flex-direction: column;
    align-items: flex-start;
  }

  .logo {
    width: 55px;
    margin-bottom: 20px;
  }
}