@import "../../styles/mixins";
@import "../../styles/variables";

.wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  margin-top: 40px;
  padding-right: 8px;

  // comment below if don't need scrollbar
  max-height: 1208px;
  height: 100%;
  overflow-y: auto;
  overflow-x: hidden;
  padding-top: 18px;

  &::-webkit-scrollbar {
    width: 6px;
    border-radius: 6px;
  }

  &::-webkit-scrollbar-track {
    border-radius: 10px;
    background: $bg-light;
    border: 1px solid $bg-light;
  }
  
  &::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background: $scrollbar;
    border: 1px solid $scrollbar;
  }
  
  &::-webkit-scrollbar-thumb:hover {
    background: $scrollbar-hover;
  }
  
  &::-webkit-scrollbar-thumb:active {
    background: $scrollbar-hover;
  }
}