@import '../../styles/mixins';
@import '../../styles/variables';

.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 130px;
  padding: 8px;
  color: $text-light;
  font-size: 14px;
  line-height: 16px;
  background: $text-dark;
  border-radius: 5px;

  svg {
    margin-right: 4px;
    font-size: 20px;
  }

  &:hover {
    background: lighten($color: $text-dark, $amount: 3.2);
  }
}